.alltext{
    text-align: center;
    background-color: #d488b1;
   background-size: 166px;
    
    background-position: 155px;
    
}
#imgs{
    background-color: rgb(215, 223, 250);
padding: 25px;
border-radius: 25px;
box-shadow: 5px 4px 5px 5px salmon;
position: relative;
}
#buttons{
    background-color: rgb(81, 175, 179);
    color: rgb(228, 229, 238);
    border: 1px solid goldenrod;
    
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
